.basket-icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
}

.basket-notification {
  position: absolute;
  display: flex;
  align-items: center;
  margin: 0;
  background-color: var(--sohoLights);
  color: var(--siphon);
  padding: 2px 7px;
  font-size: 12px;
  border-radius: 42px;
  text-decoration: none;
  left: 5px;
  top: 24px;
}

.basket-preview {
  position: absolute;
  right: 12px;
  top: 52px;
  width: max-content;
  height: auto;
  background-color: var(--siphon);
  border: 2px solid var(--plum);
  border-radius: 2px;
  padding: 8px;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  ::before {
    content: "";
    position: absolute;
    border-width: 7px;
    border-style: solid;
    border-color: transparent var(--plum) var(--plum) transparent;
    border-radius: 2px;
    bottom: 100%;
    right: -2px;
  }
}

.checkout-btn {
  background-color: var(--sohoLights);
  color: var(--siphon);
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  font-weight: bold;
}
